.home{
  // min-height: calc(100vh - 160px);
  // height: 100vh;
  // height: auto;
}

.banner{
  margin-bottom: 180px;
  margin-top: 20px;
}

.container-cocktails{
  margin: 50px;
  margin-bottom: 50px;
}

.image-banner{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner.jpg') ;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  width: 1200px;
  height: 540px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info h1{
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  letter-spacing: 2px;
}

.info h2{
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: lighter;
  letter-spacing: 3px;
}

.info p{
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: lighter;
  opacity: .8;
  letter-spacing: 4px;
}

// Buttons banner
@media (max-width: 600px) {
  .buttons{
    flex-flow: row wrap !important;
    justify-content: space-around !important;
  }
}

.button-left{
  display: flex;
  align-items: center;
  margin: 10px;
}

.button-right{
  display: flex;
  align-items: center;
  margin: 10px;
}
// finish buttons

.description-right{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-right{
  margin: 40px 0px 40px 0px;
}

.image-home{
  border-radius: 16px;
  width: 100%;
  height: auto;
}

