<div class="container">
  <div class="footer footer-cocktail">
    <div class="footer-links">
      <a href="https://github.com/Dixit-Appear"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/diddo6/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/edoardo-olivieri-b05757132/"><i class="fab fa-linkedin-in"></i></a>
    </div>
      <div class="footer-copyright">
        Create Cocktails <i class="fas fa-cocktail"></i> App
      </div>
  </div>
</div>
