.btn-banner{
  padding: 8px 24px;
  border-radius: 50px;
  background: transparent;
  transition: background 0.3s ease;
  color: white !important;
  border: 1px solid white;
  padding: 8px 24px;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

.btn-banner:hover{
  color: black !important;
  background-color: white;
}

.btn-3card{
  padding: 8px 24px;
  border-radius: 50px;
  background: transparent;
  transition: background 0.3s ease;
  color: black !important;
  border: 1px solid black;
  padding: 8px 24px;
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn-3card:hover{
  color: white !important;
  background-color: black;
}

.btn-show{
  padding: 8px 24px;
  border-radius: 50px;
  background: transparent;
  transition: background 0.3s ease;
  color: black !important;
  border: 1px solid black;
  padding: 8px 24px;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

.btn-show:hover{
  color: white !important;
  background-color: $brand-primary;
}

.btn-form{
  background: transparent;
  transition: background 0.3s ease;
  color: black !important;
  border: 1px solid black;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

.btn-form:hover{
  color: white !important;
  background-color: $brand-primary;
}

.btn-nav{
  border-radius: 50px;
  background: transparent;
  transition: background 0.3s ease;
  color: black !important;
  border: 1px solid black;
  padding: 8px 24px;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

.btn-nav:hover{
  color: white !important;
  background-color: $brand-primary;
}
