.new-cocktail{
  // height: 80vh;
}

.form{
  border: 2px solid $brand-secondary;
  border-radius: 10px;
  width: 100%;
  padding: 30px;
  text-align: center;
}

.form-image{
  margin: 80px;
}

@media (max-width: 600px) {
  .form-image{
    flex-flow: row wrap !important;
    justify-content: space-around !important;
    width: 300px;
  }
}

@media (min-width: 600px) {
  .form-image{

  }
}
@media (min-width: 768px) {
  .form-image{
  }
  .image-new-form{
    height: 340px;
    width:200px;
  }
}
@media (min-width: 992px) {
  .image-new-form{
    height: 340px;
    width:200px;
  }
}

@media (min-width: 1200px) {
  .image-new-form{
    height: 340px;
    width:200px;
  }
}



.image-new-form{
  border-radius: 10px;
  width: 100%
}

.new-cocktail{

}

.name-input{
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: 220px;
  text-align: center;
  margin: 10px 0px;
  border-top: 20px;
  border-left: 20px;
}

#cocktail_photo{
  position: relative;
  left: 25px;
  margin: 10px 0px;
}
