.nav-item-pad{
  padding-bottom: 8px;
}

.navbar{
  background-color: transparent !important;
}

.navbar-brand{
  color: $brand-primary !important;
}

.navbar-color{
  color: $brand-primary !important;
}

.pos-f-t{
  background-color: $brand-secondary !important;
}

.search-title{
  text-align: center;
}

.text-navbar{
  width: 30%;
}
