.nav-item-pad{
  padding-bottom: 8px;
}

.search-bar{
  padding-top: 16px;
}

.navbar{
  background-color: transparent !important;
}

.navbar-brand{
  color: $brand-primary !important;
}

.navbar-color{
  color: $brand-primary !important;
}
